@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}
@font-face {
  font-family: 'Poppins','Montserrat','Roboto', sans-serif;
 }

 html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed,
 figure, figcaption, footer, header, hgroup,
 menu, nav, output, ruby, section, summary,
 time, mark, audio, video {
 	margin: 0;
 	padding: 0;
 	border: 0;
 }
 body {
   color: #020202;
   font-size: 16px;
   line-height: 1;
   font-family: 'Roboto', sans-serif;
   // font-family: 'Open Sans', sans-serif;
 }
 /* HTML5 display-role reset for older browsers */
 article, aside, details, figcaption, figure,
 footer, header, hgroup, menu, nav, section {
 	display: block;
 }
 body {
 	line-height: 1;
 }
 ol, ul {
 	list-style: none;
 }
 blockquote, q {
 	quotes: none;
 }
 blockquote:before, blockquote:after,
 q:before, q:after {
 	content: '';
 	content: none;
 }
 table {
 	border-collapse: collapse;
 	border-spacing: 0;
 }
 a {
   text-decoration: none;
   color: inherit;
 }

 ::selection {
   background: #000;
   color: #fff;
 }

 .font {
   // color: #393939;
   font-size: 16px;
   line-height: 28px;
 }

 nav {
   position: fixed;
   top:0;
   padding-left: 20px;
   z-index: 10;
   .header-menu {
     display: inline-block;
     height: 60px;
     font-size: 30px;
     line-height: 60px;
     span {
       vertical-align: middle;
       color: #020202;
       &:hover {
         color: #fff;
       }
     }
   }
 }
 @media screen and (max-width: 767px) {
   .container {
     .box {
       padding: 20px;
       // background-color: red;
     }
     &.home {
       .intro {
         padding: 20px 20px 0;
         .inner {
           .name {
             font-size: 62px;
             line-height: 68px;
           }
           .btn-link {
             font-size: 20px;
           }
         }
       }
       .container-home {
         ul.projects{
           width: calc(100%);
           li.thumb-project {
             margin: 0;
             width: calc(100%);
           }
         }
       }
     }

     &.about {
       .career-box {
         .desc {
           width: 100%;
           float: left;
         }
         .point {
           width: 100%;
           float: left;
         }
       }
     }

     &.project {
       .desc-box {
         .desc {
           width: 100%;
           float: left;
         }
         .point {
           margin: 0;
           width: 100%;
           float: left;
           padding-left: 20px;
         }
       }
     }
   }

   footer {
     padding: 20px;
   }
 }


 @media screen and (min-width: 768px) and (max-width: 1279px){
   .container {
     .box {
       padding: 40px;
     }
     &.home {
       .intro {
         padding: 40px 40px 0;
         .inner {
           .name {
             font-size: 110px;
             line-height: 120px;
           }
           .btn-link {
             font-size: 24px;
           }
         }
       }
       .container-home {
         ul.projects{
           width: calc(100% + 20px);
           margin-left: -10px;
           li.thumb-project {
             margin: 0 8px;
             width: calc(50% - 20px);
           }
         }
       }
     }

     &.about {
       .career-box {
         .desc {
           width: 70%;
           float: left;
         }
         .point {
           width: 30%;
           float: left;
           text-align: right;
         }
       }
     }

     &.project {
       .desc-box {
         .desc {
           width: 70%;
           float: left;
         }
         .point {
           margin: 0;
           width: calc(30% - 40px);
           float: left;
           padding-left: 40px;
         }
       }
     }
   }

   footer {
     padding: 40px;
   }
 }

 @media screen and (min-width: 1280px) {
   .container {
     .box {
       padding: 40px;
     }
     &.home {
       .intro {
         padding: 40px 40px 0;
         .inner {
           .name {
             font-size: 110px;
             line-height: 120px;
           }
           .btn-link {
             font-size: 24px;
           }
         }
       }
       .container-home {
         ul.projects{
           width: calc(100% + 20px);
           margin-left: -10px;
           li.thumb-project {
             margin: 0 8px;
             width: calc(33% - 20px);
           }
         }
       }
     }

     &.about {
       .career-box {
         .desc {
           width: 70%;
           float: left;
         }
         .point {
           width: 30%;
           float: left;
           text-align: right;
         }
       }
     }

     &.project {
       .desc-box {
         .desc {
           width: 70%;
           float: left;
         }
         .point {
           margin: 0;
           width: calc(30% - 40px);
           float: left;
           padding-left: 40px;
         }
       }
     }
   }

   footer {
     padding: 40px;
   }
 }

.container {
  margin-bottom: 80px;
  .box {
    max-width: 1280px;
    margin: 0 auto;
    overflow: hidden;
  }
  &.home {
    .intro {
      max-width: 1280px;
      margin: 0 auto 20px;
      font-family: 'Inter';
      .inner {
        .name {
          font-weight: 800;
          letter-spacing: -.01em;
          .color1 {
            &:hover {
              color: #FBAE3C;
            }
          }
          .color2 {
            &:hover {
              color: #FA903B;
            }
          }
          .color3 {
            &:hover {
              color: #F051CC;
            }
          }
          .color4 {
            &:hover {
              color: #7927F5;
            }
          }
        }
        .btn-link {
          font-weight: 700;
          letter-spacing: -.02em;
          margin-top: 50px;
          span {
            margin-left: 4px;
            vertical-align: middle;
            display: inline-block;
            border-radius: 100%;
            min-width: 14px;
            min-height: 14px;
            padding: 3px;
            background: #020202;
            color: #fff;
            text-align: center;
            line-height: 1;
            box-sizing: content-box;
            white-space: nowrap;
            i {
              vertical-align: bottom;
              color: #fff;
            }
          }
          &:hover {
            color: #1BA3F0;
            span {
              color: #1BA3F0;
              background: #fff;
              i {
                color: #1BA3F0;
              }
            }
          }
        }
      }
    }
    .container-home {
      ul.projects{
        box-sizing: border-box;
        li.thumb-project {
          vertical-align: top;
          margin-bottom: 40px;
          position: relative;
          display: inline-block;
          .box-item {
            position: relative;
            overflow: hidden;
            cursor: pointer;
            padding-bottom: 100%;
            height: 0;
            .box-photo {
              .thumb-cover {
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                z-index: 5;
                font-family: 'Inter';
                font-size: 30px;
                color: #fff;
                &:hover {
                  background-color: rgba(0, 0, 0, 0.5);
                }
              }
              .thumb-img {
                position: absolute;
                top: 0;
                display: block;
                width: 100%;
                height: auto;
                &:hover {
                  transform: scale(1.05);
                  transition: all 0.4s ease-in-out;
                }
              }
            }
          }
          .box-desc {
            margin-top: 12px;
            .thumb-title {
              padding-bottom: 6px;
              font-family: 'Inter';
              font-size: 24px;
              font-weight: 700;
            }
            .thumb-desc {
              width: 90%;
            }
            .nodata {
              margin-top: 6px;
              font-family: 'Inter';
              font-size: 16px;
              letter-spacing: -.5px;
              font-weight: 700;
            }
          }
        }
      }
    }
  }
  &.about {
    .img-wrapper {
      width: 100%;
      background-color: #fff;
      .img-cover {
        // position: relative;
        // width: 80%;
        margin: 0 auto;
        // height: 70vh;
        overflow: hidden;
        .img-inner {
          // display: flex;
          // position: absolute;
          // top: 0;
          // left: 0;
          // right: 0;
          // bottom: 0;
          // transform: translate(50%,50%);
          .main-img {
            // position: absolute;
            // top: 0;
            // left: 0;
            // transform: translate(-50%,-50%);
            width: 100%;
            height: auto;
          }
        }
      }
    }
    .container-about {
      max-width: 960px;
      .script {
        .title-desc {
          font-size: 20px;
          line-height: 1.5;
          font-family: 'Inter';
          font-weight: 700;
          margin-bottom: 14px;
        }
        .btn-link {
          margin-top: 20px;
          color: #7927F5;
          a {
            text-decoration: underline;
          }
        }
      }
      .contents {
        margin-top: 20px;
        hr {
          float: left;
          width: 100%;
          height: 1px;
          margin: 30px 0 10px;
          border: none;
          background-color: #000;
        }
        .title-desc {
          margin-bottom: 14px;
          font-family: 'Inter';
          font-size: 18px;
          font-weight: 700;
        }
        .career-box {
          margin-bottom: 40px;
          .point {
            li {
              color: #666666;
              font-size: 14px;
            }
          }
          .career-box-inner {
            overflow: hidden;
            margin-bottom: 6px;
            .desc {
              // font-size: 16px;
              font-weight: 700;
            }
          }
          .career-wrapper {
            .career-desc {
              margin-bottom: 4px;
            }
            .career-point {
              color: #666666;
            }
          }
          .service {
            margin-top: 8px;
            padding-left: 20px;
            overflow: hidden;
            font-size: 14px;
            line-height: 1.5;
            color: #666666;
            ul.service-wrapper {
              li.service-inner {
                // margin-top: 8px;
                float: left;
                list-style: circle;
                width: 100%;
                .desc {
                  margin-top: 4px;
                  // line-height: 1.1;
                }
              }
            }
          }
        }
      }
    }
  }
  &.project {
    margin-top: 80px;
    .container-project {
      max-width: 960px;
      // padding: 100px 0;
      // color: #020202;
      .script {
        .title-desc {
          font-size: 40px;
          font-weight: 700;
          margin-bottom: 20px;
        }
        // .desc-box {
        //   color: #020202;
        //   font-size: 16px;
        //   line-height: 1.7;
        // }
      }
    }
    // .contents {
    //   .desc-box {
    //     overflow: hidden;
    //   }
    // }
    .contents {
      // background-color: #FFF6F4;
      .img-inner {
        max-width: 960px;
        margin: 0 auto;
        overflow: hidden;
      }
      img {
        width: 100%;
      }
    }
  }
}

footer {
  background: #020202;
  height: 140px;
  // overflow: hidden;
  // font-family: 'Poppins';
  .bottom {
    max-width: 1280px;
    margin: 0 auto;
    color: #fff;
    .contacts {
      // float: right;
      overflow: hidden;
      width: 100%;
      li {
        // float: left;
        padding-bottom: 14px;
        a {
          // text-decoration: underline;
        }
      }
    }
    .desc {
      margin-top: 36px;
      float: left;
      // font-size: 20px;
      opacity: 0.5;
    }
  }
}
