@font-face {
  font-family: 'Gotham-Bold';
  src: url("fonts/Gotham-Bold.otf");
 }

body {
  margin: 0 auto;
  padding: 0;
  font-size: 15px;
  line-height: 1;
  height: 100%;
  font-family: "Roboto", sans-serif;
  color: #020202;

}

ol,ul,dl {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1 {
  font-weight: 500;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

td {
  padding: 0;
}

p {
  margin: 0;
}

tbody {
  vertical-align: top;
}


nav {
  font-family: 'Gotham-Bold';
  position: fixed;
  top:0;
  padding-left: 2vw;

  .header-menu {
    display: inline-block;
    height: 60px;
    font-size: 6vmin;
    line-height: 60px;
    span {
      vertical-align: middle;
      color: #020202;
      &:hover {
        color: #1BA3F0;
      }
    }
  }
}

@media screen and (max-width: 414px) {
  .intro {
    .inner {
      .name {
        font-size: 17vmin;
        line-height: 19vmin;
      }
      .link {
        font-size: 7vmin;
        padding: 5vw 0 0;
      }
    }
  }
}
@media screen and (min-width: 415px) {
  .intro {
    .inner {
      .name {
        font-size: 15vmin;
        line-height: 17vmin;
      }
      .link {
        font-size: 5vmin;
        padding: 3vw 0 0;
      }
    }
  }
}

.intro {
  // height: calc(95vh - 60px);
  .inner {
    font-family: 'Gotham-Bold';
    ::selection {
      background: #020202;
      color: #fff;
    }
    .name {
      .color1 {
        &:hover {
          color: #FBAE3C;
        }
      }
      .color2 {
        &:hover {
          color: #FA903B;
        }
      }
      .color3 {
        &:hover {
          color: #F051CC;
        }
      }
      .color4 {
        &:hover {
          color: #7927F5;
        }
      }
    }
    .link {
      span {
        margin-left: 4px;
        vertical-align: middle;
        display: inline-block;
        border-radius: 50%;
        min-width: 14px;
        min-height: 14px;
        padding: 3px;
        background: #020202;
        color: white;
        text-align: center;
        line-height: 1;
        box-sizing: content-box;
        white-space: nowrap;
        i {
          vertical-align: bottom;
        }
      }
      &:hover {
        color: #1BA3F0;
        span {
          color: #1BA3F0;
          background: #fff;
        }
      }
    }
  }
}

.container {
  // background: orange;
  // line-height: 1.7;
  .img {
    display: flex;
  }
  .box {
    max-width: 1440px;
    margin: 0 auto;
    padding: 6vh 3vw;
    overflow: hidden;
  }
}

.thumb-img {
  width: 100%;
}

.container {
  &.home {
    .intro {
      max-width: 1440px;
      margin: 0 auto;
      padding: 6vh 4vw;
      height: calc(80vh);
    }

    .box {
      .thumb-project {
        vertical-align: top;
        margin: 0 1vw;
        margin-bottom: 10vh;
        float: left;
        .img {
          overflow: hidden;
          &:hover {
            transform: scale(1.05);
            transition: transform .2s;
          }
        }
        .thumb-title {
          font-size: 18px;
          font-weight: 700;
          padding: 14px 0 6px;
          color: #020202;
        }
        p {
          color: #595959;
        }
      }
    }
  }
}


@media screen and (max-width: 828px) {
  .box {
    .thumb-project {
      width: 100%;
    }
  }
}

@media screen and (min-width: 829px) {
  .box {

    .thumb-project {
      width: calc(50% - 2vw);
    }
  }
}

.container {
  &.about {
    .box {
      line-height: 1.7;
      .contents {
        padding: 4vw 0 0;
        .title {
          font-family: 'Gotham-Bold';
          font-weight: 700;
        }
        table {
          width: 100%;
        }
      }
    }
  }
}

footer {
  background: #020202;
  height: 500px;
}
